body {
    margin: 0px;
    padding: 0px;
}

#app {
    margin: 0px auto;
    width 900px
}

.ControlPanel {
    vertical-align top
    display: inline-block;
    // border 1px solid #c7c7c7
    padding 20px 0px 20px 20px
}

.CityBuildings {
    margin-right: 20px;
    padding 20px 20px 0px 0px
    display: inline-block;
    // border 1px solid #c7c7c7
    width 600px
    vertical-align top
}

.Building {
    display inline-block
    padding 10px
    border 1px dashed #c7c7c7
    margin 0px 13px 10px 0px
}

.Control {
    margin-bottom: 10px;
}

.Message

    &--bad
        color red

    &--good
        color green

h4 {
    border-bottom: 1px solid black;
}
