doctype html
html
    head(lang="ru")
        meta(charset="utf8")
        link(rel='stylesheet', href='./css/main.css')    
    body
        #app
        script(src='../node_modules/lockr/lockr.js')
        script(src='../node_modules/react/dist/react.js')
        script(src='../node_modules/react-dom/dist/react-dom.js')
        script(src='./app/ControlButton.js')
        script(src='./app/Control.js')
        script(src='./app/Building.js')
        script(src='./app/CityBuildings.js')
        script(src='./app/ControlPanel.js')
        script(src='./app/App.js')
